.cursos-container {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
  }
  
  /* Título principal de la sección */
  .bootcamps-section-title {
    font-size: 1em;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    text-align: center;
    margin: 0 auto; 
  }
  
/* Estilo para "Descubre nuestros" con la línea roja debajo */
.discover-title {
    color: #333;
    font-size: 4em; /* Ajusta el tamaño de la fuente según necesites */
    font-weight: bold;
    margin: 0;
    position: relative;
    display: inline-block; /* Cambia a inline-block para permitir el pseudo-elemento */
  }
  
  .discover-title::after {
    content: '';
    display: block;
    width: 50%; /* Ancho de la línea roja, ajústalo según tu diseño */
    height: 4px; /* Altura de la línea roja */
    background-color: red; /* El color de la línea */
    position: absolute;
    bottom: -20px; /* Ajusta según la distancia que desees debajo de 'Descubre nuestros' */
    left: 50%; /* Comienza desde la mitad */
    transform: translateX(-50%); /* Centra la línea */
  }
  
  /* Estilo para "Bootcamps" */
  .bootcamps-main-title {
    color: #333;
    font-size: 4em; /* Debe ser del mismo tamaño que .discover-title */
    font-weight: bold;
    margin: 0;
    display: inline; /* Alinea 'Bootcamps' en la misma línea que 'Descubre nuestros' */
  }

.cursos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 97px;
    margin-right: 0px;
}

.curso-card {
    position: relative;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    padding-bottom: 30px; /* Asegura espacio para el botón '+ INFO' */
}

/* Botón '+ INFO' alineado con el borde inferior de curso-card */
.info-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    background: none; /* Sin color de fondo */
    cursor: pointer;
}

.curso-card img {
    position: absolute;
    width: 60px;
    height: 100px;
    top: -40px;
    right: 0px;
}

.curso-card h3 {
    color: #333;
    margin-top: 0;
    font-weight: bold;
    width: 160px; /* Ajusta según sea necesario */
}

.curso-card .curso-info {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.curso-card .curso-horas, .curso-card .curso-formato {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.curso-card p {
    color: #666;
    font-size: 14px;
}

/* Estilos para los íconos, si los tienes */
.icono-horas, .icono-modalidad {
    /* Tus estilos para los íconos aquí */
}
